<div class="profile">
    <h1>{{user.fname| titlecase}} Profile</h1>

    <h3>Name : {{user.fname| titlecase|uppercase}}</h3>

    <h3>Email : {{user.email| titlecase}}</h3>

    <h3>Mobile : {{user.number| titlecase}}</h3>

    <h3>Age : {{user.age}}</h3>

    <h3>Username : {{user.username| titlecase}}</h3>

<h3> Address : {{user.Address| titlecase}}</h3>

<h3> Address :  {{user.state| titlecase}}</h3>
<h3> State :     {{user.City| titlecase}}</h3>
<h3> Zip Code : {{user.PinCode}}</h3>
<h3> College :  {{user.Collage| titlecase}}</h3>

    
</div>
