.LoginForm{
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-color: #34495e;
    margin-left: 36%;
    border: 3px solid black;
    border-radius: 21px;
    h1{
        color:white;
        text-align: center;
        margin-top: 30px;
    }
    span{
        color: white;
    }
    .loginuser{
        margin-top: 40px;
        margin-left: 60px;
        width: 280px;
        height: 35px;
        border-radius: 5px;
    }
    .loginpass{
        margin-top: 40px;
        margin-left: 60px;
        width: 280px;
        height: 35px;
        border-radius: 5px;
    }
    .loginbtn{
        height: 50px;
        width: 80px;
        background-color: red;
        margin-top: 30px;
        margin-left: 150px;
        color: white;
        border-radius: 20px;
        font-weight: bold;
    }
    .showsignup{
        margin-top: 30px;
        margin-left: 50px;
       b{
        cursor: pointer;
       }
    }
}





.Signup{
    margin-top: 50px;
    height: 900px;
    width: 500px;
    background-color: #34495e;
    margin-left: 36%;
    border: 3px solid black;
    border-radius: 21px;
    h1{
        color: white;
        text-align: center;
        margin-top: 30px;
    }
    span{
        color: white;
    }

    .Signupfname{
        margin-top: 20px;
        margin-left: 60px;
        .fname{
            width: 250px;
        height: 35px;
        margin-left: 10px;
        border-radius: 5px;
        }
        #fnameError{
            color: white;
            text-align: center;
        }
    }
    .Signupemail{
        margin-top: 20px;
        margin-left: 60px;
        #email{
            width: 250px;
            height: 35px;
            margin-left: 40px;
            border-radius: 5px;
        }
        #emailError{
            color: white;
            text-align: center;
        }
    }
    label{
        color: white;
    }
    .Signupnumber{
        margin-top: 20px;
        margin-left: 60px;
        #number{
            width: 250px;
            height: 35px;
            margin-left: 20px;
            border-radius: 5px;
        }
        #numberError{
            color: white;
            text-align: center; 
        }
    }
    .Signupage{
        border-radius: 5px;
        margin-left: 60px;
        
        #selectedAge{
            margin-top: 40px;
            margin-left: 60px;
            width: 220px;
            height: 8px;
            
        }
        span{
            color: white;
            font-size: 15px;
        }
        
    }

    .SignupUser{
        margin-top: 20px;
        margin-left: 60px;
        #username{
            width: 250px;
            height: 35px;
            margin-left: 10px;
            border-radius: 5px;
        }
    }
    .Signuppass{
        margin-top: 20px;
        margin-left: 60px;
        #password{
            width: 250px;
            height: 35px;
            margin-left: 15px;
            border-radius: 5px;
        }
    }
    .SignupAdd{
        margin-top: 20px;
        margin-left: 60px;
        #address{
            width: 250px;
            height: 35px;
            margin-left: 25px;
            border-radius: 5px;
        }
    }
    .SignupState{
      
        margin-top: 20px;
        margin-left: 62px;
        #state{
            width: 250px;
            height: 35px;
            margin-left: 50px;
            border-radius: 5px;
            text-align: center;
        }
    }
    .Signupcity{
        
        margin-top: 20px;
        margin-left: 62px;
        #City{
            width: 250px;
            height: 35px;
            margin-left: 14px;
            border-radius: 5px;
            text-align: center;
        }
    }

    .SignupPin{
        margin-top: 20px;
        margin-left: 65px;
        #pin{
            width: 250px;
            height: 35px;
            margin-left: 25px;
            border-radius: 5px;
        }
    }

    .SignupCollege{
        margin-top: 20px;
        margin-left: 68px;
        #Collage{
            width: 250px;
            height: 35px;
            margin-left: 25px;
            border-radius: 5px;
        }
    }

    .Sigbtn{
        
            height: 50px;
            width: 80px;
            background-color: red;
            margin-top: 30px;
            margin-left: 200px;
            color: white;
            border-radius: 20px;
            font-weight: bold;
        
    }

    .showLogin{
        margin-top: 20px;
        margin-left: 50px;
        text-align: center;
       b{
        cursor: pointer;
       }
    }
   
   
}