

<ngb-carousel *ngIf="selectimage">
    <!-- <ng-template ngbSlide  *ngFor="let item of selectimage" *ngFor="let imagePath of imagePaths"> -->
        <ng-template ngbSlide  *ngFor="let imagePath of imagePath">
        <div class="picsum-img-wrapper">
            <!-- <img src="{{item.image}}"  class="product-header-image" alt="Random first slide" /> -->
            <img  [src]="'assets/' + imagePath" class="product-header-image" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
   
</ngb-carousel>
<app-footer></app-footer>

